In [20]:
class Person:
    name = ""
    age = 0
    height = 0

In [21]:
p1 = Person()
p1.name = "EthanJ"
p1.age = 25
p1.height = 178

print(f"이름: {p1.name}, 나이: {p1.age}살, 키: {p1.height}cm")

이름: EthanJ, 나이: 25살, 키: 178cm

In [22]:
print("%0xd" %id(p1))
print("%0xd" %id(p1.name))
print("%0xd" %id(p1.age))
print("%0xd" %id(p1.height))

23705d04190d
237042edc70d
23700d96c30d
23700dc5f90d

In [23]:
class Student(Person):
    major = ""

In [24]:
my_stu = Student()

my_stu.name = "김파이썬"
my_stu.age = 21
my_stu.height = 171
my_stu.major = "Computer Science"

print(f"이름: {my_stu.name}, 나이: {my_stu.age}살, 키: {my_stu.height}, 전공: {my_stu.major}")

이름: 김파이썬, 나이: 21살, 키: 171, 전공: Computer Science

In [25]:
print("%0xd" %id(my_stu))
print("%0xd" %id(my_stu.name))
print("%0xd" %id(my_stu.age))
print("%0xd" %id(my_stu.height))
print("%0xd" %id(my_stu.major))

23705d04040d
23705c76c90d
23700d96bb0d
23700dc5eb0d
23705cbe760d

In [26]:
class SalaryMan(Person):
    salary = 0

my_salary = SalaryMan()

my_salary.name = "김자바"
my_salary.age = 28
my_salary.height = 169
my_salary.salary = 60000000

print("이름: {}, 나이: {}살, 키: {}cm, 연봉: {}원".format(my_salary.name, my_salary.age,
                                                my_salary.height, my_salary.salary))

이름: 김자바, 나이: 28살, 키: 169cm, 연봉: 60000000원

23700d96c70d

23700dc6030d

23705cbe6c0d